@font-face {
    font-family: Ubuntu;
    src: url("../fonts/Ubuntu.woff");
}
.background_img{
    background-image: url("../image/back.png");
    background-size: cover;
    min-height: 100%;
    min-width: 1024px;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;

}
.container_title{
    height: 58px;
    background: rgba(0, 0, 0, 0.4);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.13);
}
.title__info {
    align-items: center;
    padding-top: 15px;
    width: 1366px;
    display: flex;
    justify-content: flex-end;
    margin: auto;
}
.title__info__left{

    display: flex;
    margin-right:  704px;
    text-align: center;
}
.title__info__left__link{
    text-decoration: none;
    font-family: Ubuntu;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 22px;

    color: #FFFFFF;
}
.title__info__left__link:hover{
    color: #3CB878;
}
.title__info__img{
    background-image: url("../image/calendar.svg");
    height: 24px;
    width: 21px;
    margin-right: 27px;
}
.title__info__img:hover{
    background-image: url("../image/calendargreen.svg");
    height: 24px;
    width: 21px;
}
.title__info__img__email{
    background-image: url("../image/vector.svg");
    height: 23px;
    width: 23px;
    margin-right: 24px;

}
.title__info__img__email:hover{
    background-image: url("../image/envelope.svg");
    height: 23px;
    width: 23px;
}
.title__info__img__compass{
    background-image: url("../image/compass.svg");
    width: 23px;
    height: 24px;
    margin-right: 53px;
}
.title__info__img__compass:hover{
    background-image: url("../image/vectorgreen.svg");
    width: 23px;
    height: 24px;
}


.title__info__log{

    margin-right: 6px;

    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    position: relative;

    color: #FFFFFF;
    text-decoration: none;

}
.title__info__log__link{
    margin-left: 4px;
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    text-decoration: #FFFFFF;

    color: #FFFFFF;
}
.title__info__log__link:hover{
    color: #3CB878;
}
.title__info__log::before{
    content: "";
    display: block;
    height: 19px;
    width: 1px;
    background: rgba(255, 255, 255, 0.9);
    mix-blend-mode: normal;
    opacity: 0.5;
    position: absolute;
    right: 130px;
}
.title__info__log__last{
    margin-right:79px;

    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;

    color: #FFFFFF;
    text-decoration: none;

}
.title__info__log__last__link{
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;

    color: #FFFFFF;
    text-decoration: none;
}
.title__info__log__last__link:hover{
    color: #3CB878;
}
.container_main{
    background: #FFFFFF;
    width: 444px;
    height: 584px;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.main__log{
    margin-top: 31px;
    display: flex;
    justify-content: space-around;
}
.main__log__link{
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    text-decoration: none;

    color: #3CB878;
}
.main__log__link:hover{
    text-decoration: underline;
    color:#01813F;

}
.main_sing_up{
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 20px;

    color: #434343;
    position: relative;

}
.main_sing_up::before{
    content: "";
    display: block;
    background-color:#3CB878;
    width: 18px;
    height: 18px;
    position: absolute;
    right: 196%

}
.main__logo__link{
    text-decoration: none;
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;


    color: #FFFFFF;

}

.main__logo{
    margin-top: 15px;
    display: flex;
    justify-content:center;
    text-align: center;
}
.main__facebook{
    display: flex;
    justify-content: space-around;
    margin-right: 4px;
    border-radius: 5px;
    box-sizing: border-box;
    height: 48px;
    width: 160px;
    background-color: #305DB8;
}
.main__facebook:hover{
    background-color: #022263;

}
.main__facebook__img{
    margin-top: 12px;
    height: 24px;
    width: 24px;


}

.main__facebook__text{
    display: flex;
    align-items: center;
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;
    position: relative;
    color: #FFFFFF;

}
.main__facebook__text::before{
    content: "";
    display: block;
    width: 1px;
    height: 28px;
    position: absolute;
    background: #0A162F;
    opacity: 0.1;
    left: -35%;

}
.main__google__link{
    text-decoration: none;
}




.main__google{
    display: flex;
    justify-content: space-around;
    border-radius: 5px;
    box-sizing: border-box;
    height: 48px;
    width: 160px;
    background-color: #DF4A32;
}
.main__google:hover{
    background-color: #AB1F09;
}
.main__google__img{
    margin-top: 11px;
    width: 27px;
    height: 27px;
}
.main__google__text{
    display: flex;
    align-items: center;
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;
    position: relative;
    color: #FFFFFF;
}
.main__google__text::before{
    content: "";
    display: block;
    width: 1px;
    height: 28px;
    position: absolute;
    background: #0A162F;
    opacity: 0.1;
    left: -35%;
}
.main__section{
    margin-top: 31px;
    margin-bottom: 12px;
    display: flex;
    justify-content: center;
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;

    color: #848484;
    position: relative;
}
.main__section::after{
    content: "";
    display: block;
    position: absolute;
    width: 151px;
    height: 0;
    border: 1px solid #F2F2F2;
    bottom: 34%;
    left: 14%;
}
.main__section::before{
    content: "";
    display: block;
    position: absolute;
    width: 151px;
    height: 0;
    border: 1px solid #F2F2F2;
    bottom: 34%;
    right:  14%;
}
.main_container{

    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;

    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    gap: 15px;
    color: #BEBEBE;

}
.subscribe__input{
    width: 324px;
    height: 44px;
    border: 1px solid #F2F2F2;
    border-radius: 4px;

}
::-webkit-input-placeholder {
    padding-left: 20px;
    color: #BEBEBE;
}
.footer_container{
    display: flex;
    width: 324px;
    margin: auto;

}
.footer__checkbox{
    margin-top: 12px;
    width: 20px;
    height: 20px;
    background: rgba(0, 0, 0, 0.0001);
    border: 1px solid #F2F2F2;
}
.footer__checkbox__text{
    margin-left: 8px;
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;


    color: #434343;
    margin-top: 14px;

}
.footer__checkbox__link{

}


.footer__button{
    display: block;
    text-align: center;
    margin-top: 15px;
    width: 324px;
    height: 46px;
    background: rgba(60, 184, 120, 0.8);
    border-radius: 4px;
    border: none;
}
.footer__button:hover{
    background-color: #01813F;
}
.footer__button__link{
    text-decoration: none;
}
.button__text{
    display: flex;
    justify-content: center;
    align-items: center;


    height: 100%;
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;

    margin: auto;
    color: #FFFFFF;
}